p + a + div + .btn{
    font-family: poppins ;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-60{
    margin-top:60px;
}
.mt-110{
    margin-top: 110px;
}

a.navbar-brand{
    
    font-size: 34px;
    font-weight: 400;
    width: 300px;
    margin-left: 15px;
    color: white;
}

body{
    background-color: #2B2B2B;
    overflow-x: hidden;
}

a.nav-link{
    color: white;
    
    font-size: 20px;
    font-weight: 400;
    color: white;
}

a.nav-link:hover{
    color: #FBFF3F;
}

a.nav-link{
    margin-left: 130px;
}

div.container img#cartinka{
    width: 500px;
    height: 400px;
}

div#main-s{
    margin-top: 100px;
}

.h1{
    font-size: 54px;
    font-weight: 400;
    margin: 0px;
    color: white;
}

.h2{
    margin-top: 60px;
    font-weight: 200;
    color: white;
    font-size: 45px;
    font-style: normal;
    font-weight: normal;
}

div.container div.col button.btn{
    margin-top: 150px;
    color: #ffffff;
    font-size: 32px;
    border: 1px;
    border-radius: 0%;
    background-color: #50D8A7;
    width: 270px;
    border-radius: 8px;
    transition: all, 0.3s;
}

div.container div.col button.btn:hover{
    background-color: #FBFF3F;
    font-size: 32px;
    width: 270px;
}

body img#crug1{
    position: absolute;
    transform: translate(1167px, -201px);
}

/*Second page*/
div.container-md div.row div.col{
    padding: 0%;
    width: 300px;
}
div.container-md div.row div.col img{
    width: 150px;
    height: 150px;
    padding: 0%;
    margin-top: 30px;
}

div.container-md div.row div.col{
    text-align: center;
    font-size: 27px;
    font-weight: 200;
    color: white;
    transition: all, 0.3s;
}

.form-group {
    margin-bottom: 25px;
    margin-left: 15px;
}

.button-m{
    margin-right: 60px;
    margin-left: 15px;
}

.button-background{
    border: 1px none;
    background-color:  #1B1B1B;
    transition: background-color, 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

.button-background:hover{
    background-color: white;
    border-radius: 15px;
}

.button-background:hover img{
    filter: invert(100%);
}

.button-background:hover p{
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    color: black;
}

.push-b{
    margin-bottom: 360px;
}

div.section-1{
    background-color: #50D8A7;
    margin: 0%;
}

.definition {
    font-weight: 200;
    width: 100%;
}

.def-img{
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
}

.ml-115{
    margin-left: 115px ;
}

.definition-content{
    font-size: 25px;
    color: white;
    font-weight: 200;
}

button.yellow{
    width: 250px;
    background-color: #FBFF3F;
    font-size: 29px;
}

button.yellow:hover{
    background-color: #1B1B1B;
    color: white;
}

.section-2{
    background-color: #FBFF3F;
}